/* General styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: #f30f0f;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2, h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    padding: 8px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li a {
    color: #3498db;
    text-decoration: none;
}

ul li a:hover {
    text-decoration: underline;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

form input[type="text"] {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

form button {
    padding: 10px;
    border: none;
    background-color: #3498db;
    color: #fff;
    font-size: 1em;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #2980b9;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

footer p {
    margin: 0;
}

/* Style for forms in the edit and add new category sections */
form input[type="hidden"] {
    display: none;
}
